Hello{{if .Name}} {{.Name}}{{end}},

The password on your Chronos account was changed on {{datetime .OccurredAt}}{{if .Location}} from {{.Location}}{{end}}{{if .Device}}, using {{.Device}}{{end}}.

If this was you, nothing further is needed.
{{if .RevokeURL}}
If it wasn't, use this link to sign out every session and require a new password:

  {{.RevokeURL}}

It does not sign you in.
{{end}}
